section{
    padding-block: 30px;
    background-color: #C9AE87;
    height: 100%;
    width: 100%;
}

body{
    height: 100vh;
}

.section2{
    padding-left: 40px;
}

.section3{
    padding-inline: 30px;
}

.navbar-custom {
    background-color: #007bff; /* Azul */
}


.roboto-slab{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#carouselExampleAutoplaying{
    width: 80%;
}

.posicion-carrusel{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.posicion-carrusel img{
    min-height: 50vh;
    max-height: 554px;
    min-width: 510px;
}

.modal img{
    width: 100%;
}

h1{
    font-family: Roboto slab;
}

section img{
    width: 100px;
}

.gifpaginaweb{
    width: auto;
    margin-inline: 30px;
}

.carousel-item p{
    width: 100%;
}

.card img{
    width: 100%;
    height: 100%;
}
